@model IEnumerable<Staj1.Models.Kullanici>
@{
    ViewBag.Title = "StajBasvuruListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{var i = 1;}

<script>
    function Sil(id) {

        if (confirm('Kayıt Silinsin Mi?')) {
            var model = {
                "id": id
            };

            $.ajax({
                url: '/Admin/Sil',
                type: "POST",
                data: model,
                success: function (result) {
                    alert("Kayıt Başarıyla Silindi")
                    location.reload();
                }
            });

        }
    }
</script>
<h1 style="font-weight: bold;text-align:center">Stajı Tamamlananların Listesi</h1>
<hr />

<p style="font-weight: bold;text-align:center"><a >Açıklama:</a> Staj başvurusu onaylanan öğrencilere ait listeye aşağıdan ulaşabilirsiniz. </p>

<form action="/Admin/BasvurusuTamamlananlarınListesi" method="post">

    <input type="date" name="baslangicTarih" style="margin-left:370px;width:200px" />

    <input type="date" name="bitisTarih" style="width:200px" />
    <br /><br /><br /><br /><br /><br />


    <a><button type='submit' class='btn btn-success' style="font-size:larger;margin-top:-136px;margin-left:430px; width:20%">Kayıtları Getir</button></a>

    <h3 style="text-align:center;font-weight:bold">@ViewBag.Mesaj</h3>

    <h3 style="text-align:center;font-weight:bold;color:green">@ViewBag.Mesaj1</h3>

    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr style=" font-size: 20px">
                <th scope="col" style="font-weight: bold;">Sıra No</th>
                <th scope="col" style="font-weight:bold;"> Adı</th>
                <th scope="col" style="font-weight:bold;"> Soyadı</th>
                <th scope="col" style="font-weight:bold;"> Numarası</th>
                <th scope="col" style="font-weight:bold;"> Adres</th>
                <th scope="col" style="font-weight:bold;"> E-Posta</th>
                <th scope="col" style="font-weight:bold;"> Tel No</th>
                <th scope="col" style="font-weight:bold;">Başvuruyu Değerlendiren</th>
                <th scope="col" style="font-weight:bold;">Onaylanma Tarihi</th>
                <th scope="col" style="font-weight:bold;">Staj Durumu</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
<tr style="font-size:17px">
    <td style="">@i</td>
    <td style="">@item.Adi</td>
    <td style="">@item.Soyadi</td>
    <td style="">@item.Numara</td>
    <td style="">@item.Adres</td>
    <td style="">@item.Mail</td>
    <td style="">@item.TelefonNo</td>
    <td style="">@item.BasvuruyuDegerlendiren</td>
    <td style="">@item.BasvuruDegerlendirmeTarihi.Value.Date.ToString().TrimEnd('0', ':')</td>
    <td style="">@item.StajDurum.StajDurumAdi</td>

</tr>
           i++;
}
}
        </tbody>
    </table>
</form>

<br />
<br />





<br />
<br />


