@model IEnumerable<Staj1.Models.StajyerOgrenciBaslatma>

@{
    ViewBag.Title = "StajyerOgrenciStajaBaslatmaBilgileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{var i = 1;}

<script>
    function StajyerOgrenciStajaBaslatmaBilgileriSil(id) {

        if (confirm('Başvuru Formu Silinsin Mi?')) {
            var model = {
                "id": id
            };

            $.ajax({
                url: '/Admin/StajyerOgrenciStajaBaslatmaBilgileriSil',
                type: "POST",
                data: model,
                success: function (result) {
                    alert("Başvuru Formu Başarıyla Silidi")
                    location.reload();
                }
            });

        }
    }

</script>

<br />
<p style="text-align:center"> Staj başvuru formu kaydedilen öğrencilerin listesine aşağıdan ulaşabilirsiniz. </p>
<br />

<div style="font-size:20px">
    <form action="/Admin/StajyerOgrenciStajaBaslatmaBilgileri" method="post">

        <input type="date" name="baslangicTarih" style="margin-left:410px;width:150px" />

        <input type="date" name="bitisTarih" style="width:150px" /><br /><br />

        <button type='submit' class='btn btn-success'  style="width:30%; margin-left:400px">Seçili Kayıtları Getir</button><br /><br />

        <h3 style="text-align:center;color:red;font-weight:bold;font-style:italic">@ViewBag.Mesaj</h3>

        <h3 style="text-align:center;color:red;font-weight:bold;font-style:italic;color:green">@ViewBag.Mesaj1</h3>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" style="margin-left:-50px; margin-right:400px">
            <thead>

                <tr style="font-size:16px">
                    <th scope="col" style="font-weight: bold">Sıra No</th>
                    <th scope="col" style="font-weight:bold">Adı Soyadı</th>
                    <th scope="col" style="font-weight:bold">TC Kimlik No</th>
                    <th scope="col" style="font-weight:bold">Öğrencinin Adresi</th>
                    <th scope="col" style="font-weight:bold">İş Yeri Adı</th>
                    <th scope="col" style="font-weight:bold">İş Yeri Adresi</th>
                    <th scope="col" style="font-weight:bold">Staja Başlama Tarihi</th>
                    <th scope="col" style="font-weight:bold">Staj Bitiş Tarihi</th>
                    <th scope="col" style="font-weight:bold">Çalışma Süresi</th>
                    <th scope="col" style="font-weight:bold">Cumartesi Çalışıyor Mu</th>
                    <th scope="col" style="font-weight:bold">Staj Türü</th>
                    <th scope="col" style="font-weight:bold">Staj Durumu</th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
    <tr style="font-size:16px">
        <td style="">@i</td>
        <td>@item.Kullanici.Adi @item.Kullanici.Soyadi</td>
        <td>@item.Kullanici.Numara</td>
        <td>@item.Kullanici.Adres</td>
        <td>@item.IsyeriAdi</td>
        <td>@item.IsyeriAdresi</td>
        <td>@item.StajBaslangicTarihi.ToString().TrimEnd('0', ':')</td>
        <td>@item.StajBitisTarihi.ToString().TrimEnd('0', ':')</td>
        <td style="color:seagreen; font-size:16px; font-weight:bold">@item.ToplamCalismaSüresi <a style="color:black;font-weight:normal">iş günü çalışmıştır. </a></td>
        <td>@item.CumartesiCalisiyorMu</td>
        <td>@item.StajAdi.Adi</td>
        <td>@item.Kullanici.StajDurum.StajDurumAdi</td>
        <td><a onclick="StajyerOgrenciStajaBaslatmaBilgileriSil(@item.ID)"><button type="button" class="btn btn-danger btn-sm">Kaydı Sil</button></a> </td>
    </tr>i++;
                    }
                }

            </tbody>

        </table>
    </form>
</div>

<br />
<br />


<br />
<br />

